{% extends "base_generic.html" %}

{% block content %}
<h3> 場地編輯</h3>
<br/>
    <form action="" method="POST" >
        {% csrf_token %}
        <div class="form-group">
            <div class="form-group col-md-6">
                {{ form.as_p }}
                <div class = "row">
                    <div class="col-md-8">
                        <input type = "submit" value ="更新" class = "btn btn-success">
                    </div>
                    <div class="col-md-4">
                        <a href="{% url 'venues' %}" class = "btn btn-secondary btn-block btn-log">
                        <i class = "fas fa-stream"></i> 回上一頁</a>
                <div>
            </div>
        </div>
    </form>
{% endblock  %}