{% extends "base_generic.html" %}

{% block content %}
  <h1> 活動管理 </h1>
<table class="table table-bordered table-striped">
<thead class="thead-dark">
  <tr>
	  <!--<th>編號</th>--><th>活動名稱</th><th>活動屬性</th><th>活動類別</th>
	  <th>活動人數</th><th>活動開始</th><th>活動結束</th><th>用餐人數</th>
    <th>音控志工</th><!--<th>場地管理人</th><th>Ext.</th>--><th>管理</th>
  </tr>
</thead>
<tbody>
	{% for veninst in venueinstances %}
		<tr>
			<!--<td>{{ venue.id }} </td>-->
			<td>{{  veninst.activity_name }} </td>
			<td>{{ veninst.activity_attr}} </td>
			<td>{{ veninst.activity_category }} </td>
			<td>{{ veninst.activity_people }} </td>
			<td>{{ veninst.activity_start}} </td>
			<td>{{ veninst.activity_end }} </td>
      		<td>{{ veninst.meals_number }} </td>
      		<td>{{ veninst.sound_control }} </td>
      <!--<td>{{ venue.venuemanager }} </td>
      <td>{{ venue.venuemanager.extension }} </td>-->
            <td>
                <a href="#" title="編輯" class="btn btn-info">編輯</a>	
                <a href="#" title="刪除" class="btn btn-danger">刪除</a>
            </td>
		</tr>
	{% endfor %}
</tbody>
</table>

{% endblock %}